

h1 {
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: max-content;
    width: max-content;
}

.main {
    display: flex;
    flex-direction: row;
}

#shift_details {
    display: none;
    font-weight: bold;
}

#span_beforeShiftTime {
    color: #DA70D6;
}

#span_normalShiftTime{
    color: #63d61b;
}

#span_afterShiftTime{
    color: #7470DA;
}
label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}


/* new css  */

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
} */

.chart-container {
    max-width:500px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="time"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }